#!/usr/bin/make -f

DEB_HOST_GNU_TYPE   ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)
DEB_HOST_ARCH       ?= $(shell dpkg-architecture -qDEB_HOST_ARCH)
DEB_HOST_ARCH_OS    ?= $(shell dpkg-architecture -qDEB_HOST_ARCH_OS)

ifeq ($(DEB_BUILD_GNU_TYPE),$(DEB_HOST_GNU_TYPE))
confflags := --build=$(DEB_BUILD_GNU_TYPE)
else
confflags := --host=$(DEB_HOST_GNU_TYPE) --build=$(DEB_BUILD_GNU_TYPE)
endif

# how to call quilt
QUILT := QUILT_PATCHES=debian/patches quilt --quiltrc /dev/null

# configure flags
confflags += --enable-release --prefix=/usr
confflags += \
	--enable-libtool \
	--disable-gnome \
	--disable-gtk \
	--disable-familiar \
	--disable-fb \
	--enable-ggi \
	--enable-sdl \
	--enable-esd \
	--disable-qt \
	--enable-mad \
	--enable-arts \
	--enable-jack \
	--enable-lirc \
	--enable-a52 \
	--enable-aa \
	--enable-dvbpsi \
	--enable-mozilla \
	--disable-kde \
	--enable-mp4 \
	--enable-dvb \
	--disable-satellite \
	--enable-ogg \
	--enable-vorbis \
	--enable-wxwidgets \
	--with-wx-config=wx-config \
	--disable-slp \
	--enable-flac \
	--disable-skins \
	--disable-basic-skins \
	--enable-skins2 \
	--enable-freetype \
	--enable-mkv \
	--enable-speex \
	--enable-caca \
	--enable-live555 \
	--enable-libmpeg2 \
	--enable-dts \
	--enable-fribidi \
	--enable-cdio \
	--enable-mod \
	--enable-theora \
	--enable-modplug \
	--enable-dvdnav \
	--enable-gnutls \
	--enable-ffmpeg \
	--enable-ncurses \
	--enable-smb \
	--disable-gnomevfs \
	--enable-bonjour \
	--enable-mpc \
	--enable-vcd \
	--enable-vcdx \
	--enable-xosd \
	--enable-twolame \
	--enable-notify \
	--enable-faad \
	--enable-mediacontrol-bindings \
	--disable-x264 \
	$(NULL)

# Linux specific flags
ifeq ($(DEB_HOST_ARCH_OS),linux)
confflags += --enable-alsa --enable-dv --enable-v4l --enable-pvr
endif

# Glide is only for x86 on Linux
ifeq ($(DEB_HOST_ARCH),i386)
confflags += --enable-glide
endif

# svgalib is only for x86 and x86-64 on Linux
ifneq ($(filter $(DEB_HOST_ARCH), amd64 i386),)
confflags += --enable-svgalib
endif

# Remove --without-dvdcss in non-totalitarian countries
confflags += --enable-dvd --without-dvdcss

# A few shortcuts
VIDDIR := usr/share/vlc
PIXDIR := usr/share/pixmaps

build: build-stamp
build-stamp:
	dh_testdir
	$(QUILT) push -a || test $$? = 2
	./configure --enable-static --mandir=$${prefix}/share/man $(confflags)
	$(MAKE) src/libvlc.la
	cp src/.libs/libvlc.a src/libvlc.a
	./configure --mandir=$${prefix}/share/man $(confflags)
	$(MAKE)
ifeq ($(filter nocheck,$(DEB_BUILD_OPTIONS)),)
ifeq ($(DEB_BUILD_GNU_TYPE), $(DEB_HOST_GNU_TYPE))
	# Check which plugins were built and whether they load properly.
	./vlc --reset-plugins-cache -l -I rc vlc:quit
endif
endif
	touch $@

clean:
	dh_testdir
	dh_testroot
	sed -e '/lib\(alsa\|dvb\|v4l\|pvr\)_/d' debian/vlc-nox.install \
	  >debian/vlc-nox.install.kfreebsd-i386
	cp debian/vlc-nox.install.kfreebsd-i386 \
	  debian/vlc-nox.install.kfreebsd-amd64
	rm -f build-stamp
	# Clean VLC
	[ ! -f Makefile ] || $(MAKE) distclean
	rm -f src/libvlc.a
	# Clean zsh completion stuff
	rm -f extras/zsh
	# Removed ugly cruft
	rm -f src/misc/modules_builtin.h
	rm -f mozilla/vlcintf.xpt mozilla/vlcintf.h
	# Remove spurious autotools stuff
	rm -f config.log confdefs.h
	# Unpatch package
	$(QUILT) pop -a -R || test $$? = 2
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	$(MAKE) install DESTDIR=$(CURDIR)/debian/tmp/
	cp src/libvlc.a debian/tmp/usr/lib
	# Clean up libtool crap
	find debian/tmp -name '*.la' -exec rm '{}' ';'
	# Remove useless stuff
	rm -Rf debian/tmp/$(VIDDIR)/skins
	rm -f debian/tmp/usr/share/vlc/skins2/fonts/FreeSans.ttf
	rm -f debian/tmp/usr/share/vlc/skins2/fonts/FreeSansBold.ttf
	ln -s /usr/share/fonts/truetype/ttf-dejavu/DejaVuSans.ttf debian/tmp/usr/share/vlc/skins2/fonts/FreeSans.ttf
	ln -s /usr/share/fonts/truetype/ttf-dejavu/DejaVuSans-Bold.ttf debian/tmp/usr/share/vlc/skins2/fonts/FreeSansBold.ttf
	# Move stuff around
	mkdir -p debian/tmp/$(PIXDIR)
	-mv debian/tmp/$(VIDDIR)/vlc48x48.png debian/tmp/$(PIXDIR)/vlc.png
	-mv debian/tmp/$(VIDDIR)/vlc32x32.xpm debian/tmp/$(VIDDIR)/vlc.xpm
	# Install stuff
	dh_install -si --fail-missing --sourcedir=debian/tmp
	# install BTS stuff
	mkdir -p  debian/vlc-nox/usr/share/bug/vlc-nox
	cp debian/bug/* debian/vlc-nox/usr/share/bug/vlc-nox
	# Clean up
	rm -f debian/vlc/$(VIDDIR)/*.png
ifeq ($(DEB_BUILD_GNU_TYPE), $(DEB_HOST_GNU_TYPE))
	# Check that we did not install a plugin linked with libX11 in vlc-nox
	BORKED=no; \
	for file in $$(find debian/vlc-nox/usr/lib/vlc -name '*.so'); do \
	  if objdump -x $$file | egrep -q '^ +NEEDED +libX11\.so'; then \
	    BORKED=yes; \
	    echo $$file depends on libX11; \
	  fi; \
	done; \
	if test "$$BORKED" = yes; then exit 1; fi
endif

# Build architecture-independent files here.
binary-indep: build install
	dh_testdir
	dh_testroot
	dh_link -i
	dh_compress -i
	dh_fixperms -i
	dh_installdeb -i
	dh_gencontrol -i
	dh_md5sums -i
	dh_builddeb -i

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_link -s
	dh_installdocs -p vlc-nox
	dh_installdocs -p libvlc0
	dh_buildinfo -p vlc-nox
	dh_installmenu -s
	dh_installmime -s
	dh_installman doc/vlc.1 -p vlc-nox
	dh_installman doc/vlc-config.1 -p libvlc0-dev
	dh_installchangelogs ChangeLog -p vlc-nox
	dh_installchangelogs ChangeLog -p libvlc0
	dh_desktop
	dh_strip -s
	dh_compress -s
	dh_fixperms -s
	dh_makeshlibs -plibvlc0 -V # -V is nasty, but I mean it
	dh_installdeb -s
	dh_shlibdeps -s -ldebian/libvlc0/usr/lib
	dh_gencontrol -s
	dh_md5sums -s
	dh_builddeb -s

binary: binary-indep binary-arch
.PHONY: build clean install binary-indep binary-arch binary
