/////////////////////////////////////////////////////////////////////////////
//
//  VLC Plugin description.
//
#ifndef VERSION_NUMBER
#define VERSION_NUMBER 0,0,0,0
#endif
#ifndef VERSION
#define VERSION 0.0.0
#endif

#define STRINGIFY( z ) UGLY_KLUDGE( z )
#define UGLY_KLUDGE( z ) #z

//VS_VERSION_INFO VERSIONINFO
1 VERSIONINFO
 FILEVERSION VERSION_NUMBER
 PRODUCTVERSION VERSION_NUMBER
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L

BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904e4"
        BEGIN
            VALUE "ProductName", "VLC Multimedia Plugin\0"
            VALUE "ProductVersion", STRINGIFY( VERSION )
            VALUE "OriginalFilename", "npvlc.dll\0"
            VALUE "FileVersion", STRINGIFY( VERSION )
            VALUE "FileDescription", "Version " STRINGIFY( VERSION ) ", copyright 1996-2006 The VideoLAN Team<br><a href=""http://www.videolan.org/"">http://www.videolan.org/</a>\0"
            VALUE "InternalName", "npvlc\0"
            VALUE "CompanyName", "VideoLAN Team\0"
            VALUE "LegalCopyright", "Copyright \251 1996-2006 The VideoLAN Team\0"
            VALUE "MIMEType", "application/x-ogg|application/ogg|application/x-vlc-plugin|application/x-google-vlc-plugin\0"
            VALUE "FileExtents", "ogg|ogg|vlc|\0"
            VALUE "FileOpenName", "Ogg stream|Ogg stream|VLC plugin|Google VLC plugin\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END
